#preview{
    height: 80vh;
    border:3px solid #f1f1f1;
    border-top: 0;
    overflow: auto;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
    background: white;
}